{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "jasmine": true
  },
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      },
  },
  extends: 'defaults/configurations/google',
  "globals": {},
  rules: {
    "no-console": [1],
    "no-alert": [1],
    "no-debugger": [1]
  }
}