// Primary
$orange: #F37122;
$green: #00C26B;
$navi: #1C94EE;
$blue: #4861A0;

// Secondary
$light-pink: #FFCED4;
$persimmon: #FF6359;
$red: #FE2851;
$light-yellow: #FDEFB8;
$yellow: #FFE473;
$dark-yellow: #FFCD00;
$light-green: #E5FFCC;
$dark-green: #2CA94F;
$light-blue: #CAD9F0;
$dark-blue: #36465D;

// Neutral
$light-gray: #F1F2F1;
$gray: #DADADA;
$dark-grey: #9B9B9B;
$black: #4A4A4A;


