expander-trigger {
  cursor: pointer;
}

expander-content {
  display: block;
  position: relative;
  opacity: 1;
  max-height: 1000px;
  transition: max-height 300ms ease-in-out,
              opacity 300ms ease-in-out;

  &[is-hidden] {
    opacity: 0;
    max-height: 0;
  }
}